body {
    padding: 10px;
    font-size: 25px;
    margin: 20px;
    width: 90%;
}

*{
    box-sizing: border-box;
}
.box{
text-align: center;
opacity: .8;
background-color: #060345;
height: 50px;
position: fixed;
left:20px;
width: 90%;
margin-bottom: 30px;
top: 0;

}

.link{
font-style: italic;
color: whitesmoke;
opacity: .9;
text-decoration: none;
}

.quant{
    margin: 20px;
    width: 90%;
    height: 400px;
    overflow: scroll;
}

.png{
    display: block;
    margin: 0px auto;
    width: 50%;
}

table {
    font-style: italic;
    margin: 20px auto;
    width: 500px;
}

.header {
    font-weight: bold;
}

td, div{
    text-align: center;
}

h2 {
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

h1{
    text-align: center;
    font-size: 37px;
}

.config{
    width: 50%;
    display:inline-block;
}


.red-text {
    color: #CC0000;
    font-style: italic;
}
.formula {
    text-align: center;
}

.homework {
    border-top: 1px solid #060345;
    margin-top: 15px;
    padding-top: 30px;
}
.homework a {
    text-decoration: none;
    color: #060345;
}
.homework a:hover {
    color:rgb(35, 26, 208) ;
}

@media (max-width: 600px) {
    body {
        font-size: 20px;
    }
    img {
        min-width: 90%;
    }
    table {
        width: 90%;
    }
}
@media (max-width: 400px) {
    body {
        font-size: 15px;
    }
    h1, h2 {
        font-size: 25px;
    }
}