body {
    padding: 10px;
    font-size: 25px;
    margin: 20px;
    width: 90%;
}

*{
    box-sizing: border-box;
}
.box{
text-align: center;
opacity: .8;
background-color: #060345;
height: 50px;
position: fixed;
left:20px;
width: 90%;
margin-bottom: 30px;
top: 0;

}

.link{
font-style: italic;
color: whitesmoke;
opacity: .9;
text-decoration: none;
}

.quant{
    margin: 20px;
    width: 90%;
    height: 400px;
    overflow: scroll;
}

.png{
    display: inline-block;
    margin: 0% 20%;
    width: 50%;
    text-align: center;
}

table {
    font-style: italic;
    margin: 20px auto;
    
}

.header {
    font-weight: bold;
}

td, div{
    text-align: center;
}

h2 {
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

h1{
    text-align: center;
    font-size: 37px;
}

.config{
    width: 400px;
    height: 350px;
    display:inline-block;
}


.red-text {
    color: #CC0000;
    font-style: italic;
}
.formula {
    text-align: center;
}
